.secondary-cta-btn, .main-cta-btn {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #fff;
  padding: 1.6rem 5.6rem;
  border: none;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.8px 4px 0px;
  cursor: pointer;
}
.secondary-cta-btn:hover, .main-cta-btn:hover {
  opacity: 0.8;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

h2 {
  font-size: 2.4rem;
  letter-spacing: 0.3px;
  color: #4a4a4a;
}

.main-cta-btn {
  background-color: #6abfc3;
}

.secondary-cta-btn {
  background-color: #ce973e;
}

.d-block {
  display: block;
}

.mx-auto {
  margin: 0 auto;
}

.nav {
  max-width: 101.5rem;
  background-color: #fff;
  margin: 0 auto 5rem auto;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.nav-logo-container {
  padding: 0.5rem 0;
  height: 9.4rem;
}
.nav-logo {
  display: block;
  height: 100%;
}
.nav-logo-img {
  height: 100%;
}
.nav-items {
  display: flex;
  color: #808080;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-link {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  padding: 0.8rem;
}
.nav-link:hover {
  color: #000;
}
.nav-link-dropdown:after {
  display: inline-block;
  content: "";
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-top: 0.4rem solid currentColor;
  margin-left: 0.8rem;
  vertical-align: 0.5rem;
}
.nav-divider {
  font-size: 2.4rem;
  padding: 0.8rem;
}
.nav-burger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 2.5rem;
  color: #6abfc3;
  cursor: pointer;
}

.main-header {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-header h1 {
  font-size: 3.6rem;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #ce973e;
  margin-bottom: 3rem;
}
.main-header p {
  font-size: 1.8rem;
  letter-spacing: 0.2px;
  color: #848484;
  margin-bottom: 7rem;
}

.how-it-works {
  margin: 10rem 0 7rem 0;
}
.how-it-works-header {
  max-width: 60rem;
  text-align: center;
  margin: 0 auto 10rem auto;
}
.how-it-works-header h2 {
  margin-bottom: 4.6rem;
}
.how-it-works-header p {
  font-size: 1.8rem;
  line-height: 1.88;
  color: #808080;
}
.how-it-works-boxes {
  max-width: 108rem;
  margin: 0 auto;
}
.how-it-works-box {
  padding: 1.6rem;
  text-align: center;
  overflow: hidden;
}
.how-it-works-box-img {
  height: 16.5rem;
}
.how-it-works-box-text {
  font-size: 1.8rem;
  margin-top: 5rem;
}
.how-it-works-box-title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.how-it-works-box-description {
  line-height: 1.88;
  color: #808080;
}

.subjects {
  padding: 6rem 0;
  background-color: #f3f3f3;
}
.subjects-header {
  text-align: center;
  margin-bottom: 5rem;
}
.subjects-boxes {
  max-width: 86rem;
  justify-content: center;
  margin: 0 auto 5rem;
}
.subjects-boxes .subject-box {
  height: 28.6rem;
  padding: 1.5rem;
  background-clip: content-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subjects-boxes .subject-box-img {
  width: 16rem;
  height: 16rem;
}
.subjects-boxes .subject-box-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: #4a4a4a;
  margin-top: 1.8rem;
}

.success-stories {
  height: 96.6rem;
  padding-top: 7rem;
  background-color: chocolate;
}
.success-stories-header {
  text-align: center;
  margin-bottom: 6rem;
}
.success-stories-boxes {
  margin: 10rem 3.5rem 0;
}
.success-stories-boxes .success-story-box {
  height: 16.4rem;
  background-color: indigo;
  margin-bottom: 3.6rem;
}

.footer {
  height: 27.7rem;
  background-color: crimson;
}
.footer .fixed-dropdown-btn {
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 50%;
  background-color: #6abfc3;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

/* Media queries */
/* 1199px */
@media only screen and (max-width: 74.9375em) {
  .main-header h1 {
    max-width: 80%;
  }
}
/* 991px */
@media only screen and (max-width: 61.9375em) {
  .subjects-boxes {
    max-width: 58rem;
  }
}
/* 767px */
@media only screen and (max-width: 47.9375em) {
  .nav {
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .nav-logo-container {
    height: 7rem;
  }
  .nav-items {
    display: none;
  }
  .nav-burger-menu {
    display: block;
  }

  .main-header {
    margin: 10rem 0 6rem 0;
  }

  .how-it-works-header {
    max-width: 51rem;
  }
  .how-it-works-box-img {
    height: 12rem;
  }
  .how-it-works-box-description {
    padding: 0 6.5rem;
  }
}
/* 575px */
@media only screen and (max-width: 35.9375em) {
  .how-it-works-box-description {
    padding: 0 3.2rem;
  }
  .how-it-works-box-img {
    height: 8rem;
  }

  .subjects-boxes {
    max-width: 30rem;
  }
  .subjects-boxes .subject-box {
    height: 18rem;
    padding: 1rem;
  }
  .subjects-boxes .subject-box-img {
    width: 8rem;
    height: 8rem;
  }
  .subjects-boxes .subject-box-title {
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
