$orange: #ce973e;
$blue: #6abfc3;
$grey: #808080;

%cta-btn {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #fff;
  padding: 1.6rem 5.6rem;
  border: none;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.8px 4px 0px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

h2 {
  font-size: 2.4rem;
  letter-spacing: 0.3px;
  color: #4a4a4a;
}

p {
  line-height: 1.88;
}

.main-cta-btn {
  @extend %cta-btn;
  background-color: $blue;
}

.secondary-cta-btn {
  @extend %cta-btn;
  background-color: $orange;
}

.d-block {
  display: block;
}

.mx-auto {
  margin: 0 auto;
}

.link {
  font-size: 1.6rem;
  font-weight: 700;
  color: $grey;

  &:hover {
    color: #000;
  }
}

.nav {
  max-width: 101.5rem;
  background-color: #fff;
  margin: 0 auto 5rem auto;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  &-logo-container {
    padding: 0.5rem 0;
    height: 9.4rem;
  }

  &-logo {
    display: block;
    height: 100%;

    &-img {
      height: 100%;
    }
  }

  &-items {
    display: flex;
    color: #808080;
  }

  &-item {
    display: flex;
    align-items: center;
  }

  &-link {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding: 0.8rem;

    &:hover {
      color: #000;
    }
  }

  &-link-dropdown:after {
    display: inline-block;
    content: '';
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.4rem solid currentColor;
    margin-left: 0.8rem;
    vertical-align: 0.5rem;
  }

  &-divider {
    font-size: 2.4rem;
    padding: 0.8rem;
  }

  &-burger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 2.5rem;
    color: #6abfc3;
    cursor: pointer;
  }
}

.main-header {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 3.6rem;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: $orange;
    margin-bottom: 3rem;
  }

  p {
    font-size: 1.8rem;
    letter-spacing: 0.2px;
    color: #848484;
    margin-bottom: 7rem;
  }
}

.how-it-works {
  margin: 10rem 0 7rem 0;

  &-header {
    max-width: 60rem;
    text-align: center;
    margin: 0 auto 10rem auto;

    h2 {
      margin-bottom: 4.6rem;
    }

    p {
      font-size: 1.8rem;
      color: #808080;
    }
  }

  &-boxes {
    max-width: 108rem;
    margin: 0 auto;
  }

  &-box {
    padding: 1.6rem;
    text-align: center;
    overflow: hidden;
  }

  &-box-img {
    height: 16.5rem;
  }

  &-box-text {
    font-size: 1.8rem;
    margin-top: 5rem;
  }

  &-box-title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &-box-description {
    line-height: 1.88;
    color: $grey;
  }
}

.subjects {
  padding: 6rem 0;
  background-color: #f3f3f3;

  &-header {
    text-align: center;
    margin-bottom: 5rem;
  }

  &-boxes {
    max-width: 86rem;
    justify-content: center;
    margin: 0 auto 5rem;

    .subject-box {
      height: 28.6rem;
      padding: 1.5rem;
      background-clip: content-box;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-img {
        width: 16rem;
        height: 16rem;
      }

      &-title {
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        color: #4a4a4a;
        margin-top: 1.8rem;
      }
    }
  }
}

.success-stories {
  padding-top: 7rem;
  background: linear-gradient(to bottom, #fff, #eee);

  &-header {
    text-align: center;
    margin-bottom: 6rem;
  }

  .container {
    padding: 0;
  }

  &-boxes {
    width: 95%;
    margin: 10rem auto 3rem;
    padding: 0;
  }

  .success-story {
    padding: 0;
    margin-bottom: 3.6rem;
    display: flex;

    &-img-container {
      flex-basis: 10rem;
      display: flex;
      justify-content: center;
    }

    &-img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-top: 1.6rem;
    }

    &-text {
      font-size: 1.8rem;
      letter-spacing: 0.2px;
      flex: 1;
    }

    &-name {
      color: $orange;
      margin-bottom: 0.5rem;

      a:hover {
        color: #000;
      }
    }

    &-comment {
      color: $grey;
    }
  }

  &-read-more {
    text-align: center;

    &-link {
      font-size: 1.6rem;
      color: $grey;
      text-decoration: underline;

      &:hover {
        color: #000;
      }
    }
  }

  .sign-up-cta {
    padding: 8rem 4rem;
    text-align: center;

    &-title {
      font-size: 3.5rem;
      font-weight: 100;
      letter-spacing: 0.2px;
      color: $grey;
    }

    &-btn {
      margin-top: 5rem;
    }
  }
}

.footer {
  height: 27.7rem;
  display: flex;

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-logo-container {
    flex: 2;
  }

  &-logo {
    height: 7rem;
  }

  &-social {
    flex: 1;

    &-items {
      width: 100%;
      color: $orange;
      display: flex;
      text-align: center;
    }

    &-item {
      flex: 1;
    }

    &-link {
      font-size: 2.4rem;

      &:hover {
        color: #000;
      }
    }
  }

  &-links {
    flex: 2;

    &-items {
      width: 13rem;
      height: 9rem;
      display: flex;
      flex-direction: column;
    }
  }

  &-link {
    display: inline-block;
    height: 3rem;
  }
}

.fixed-dropdown-btn {
  width: 6.8rem;
  height: 6.8rem;
  font-size: 3rem;
  color: #fff;
  border-radius: 50%;
  background-color: #6abfc3;
  border: none;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  &:hover {
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.2);
  }
}

/* Media queries */

/* 1199px */
@media only screen and (max-width: 74.9375em) {
  .main-header {
    h1 {
      max-width: 80%;
    }
  }

  .success-stories {
    &-boxes {
      max-width: 60rem;
    }

    .success-story {
      &-img-container {
        flex-basis: 10rem;
        display: flex;
        justify-content: center;
      }

      &-img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin-top: 1.6rem;
      }

      &-text {
        font-size: 1.8rem;
        letter-spacing: 0.2px;
        flex: 1;
      }
    }
  }
}

/* 991px */
@media only screen and (max-width: 61.9375em) {
  .subjects {
    &-boxes {
      max-width: 58rem;
    }
  }
}

/* 767px */
@media only screen and (max-width: 47.9375em) {
  .nav {
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &-logo-container {
      height: 7rem;
    }

    &-items {
      display: none;
    }

    &-burger-menu {
      display: block;
    }
  }

  .main-header {
    margin: 10rem 0 6rem 0;
  }

  .how-it-works {
    &-header {
      max-width: 51rem;
    }

    &-box-img {
      height: 12rem;
    }

    &-box-description {
      padding: 0 6.5rem;
    }
  }

  .footer {
    height: 14rem;

    &-logo-container {
      display: none;
    }

    &-social {
      flex: 1;
    }

    &-links {
      flex: 1;
    }
  }
}

/* 575px */
@media only screen and (max-width: 35.9375em) {
  .how-it-works {
    &-box-description {
      padding: 0 3.2rem;
    }

    &-box-img {
      height: 8rem;
    }
  }

  .subjects {
    &-boxes {
      max-width: 30rem;

      .subject-box {
        height: 18rem;
        padding: 1rem;

        &-img {
          width: 8rem;
          height: 8rem;
        }

        &-title {
          margin-top: 1rem;
        }
      }
    }
  }
}

/* 480px */
@media only screen and (max-width: 30em) {
  .success-stories {
    &-boxes {
      margin-top: 5rem;
      margin: 10rem 2.6rem 3rem;
    }

    .success-story {
      &:nth-last-of-type(-n + 2) {
        display: none;
      }

      &-img-container {
        display: none;
      }

      &-name {
        margin-bottom: 4rem;
      }
    }
  }

  .footer {
    height: 7rem;

    &-links {
      display: none;
    }
  }

  .fixed-dropdown-btn {
    display: none;
  }
}
