$orange: #ce973e;
$blue: #6abfc3;
$grey: #808080;

%cta-btn {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #fff;
  padding: 1.6rem 5.6rem;
  border: none;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.8px 4px 0px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

h2 {
  font-size: 2.4rem;
  color: #4a4a4a;
}

.main-cta-btn {
  @extend %cta-btn;
  background-color: $blue;
}

.nav {
  max-width: 101.5rem;
  background-color: #fff;
  margin: 0 auto 5rem auto;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  &-logo-container {
    padding: 0.5rem 0;
    height: 9.4rem;
  }

  &-logo {
    display: block;
    height: 100%;

    &-img {
      height: 100%;
    }
  }

  &-items {
    display: flex;
    color: #808080;
  }

  &-item {
    display: flex;
    align-items: center;
  }

  &-link {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding: 0.8rem;

    &:hover {
      color: #000;
    }
  }

  &-link-dropdown:after {
    display: inline-block;
    content: '';
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.4rem solid currentColor;
    margin-left: 0.8rem;
    vertical-align: 0.5rem;
  }

  &-divider {
    font-size: 2.4rem;
    padding: 0.8rem;
  }

  &-burger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 2.5rem;
    color: #6abfc3;
    cursor: pointer;
  }
}

.main-header {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 3.6rem;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: $orange;
    margin-bottom: 3rem;
  }

  p {
    font-size: 1.8rem;
    letter-spacing: 0.2px;
    color: #848484;
    margin-bottom: 7rem;
  }
}

.how-it-works {
  margin: 10rem 0 7rem 0;

  &-header {
    max-width: 60rem;
    text-align: center;
    margin: 0 auto 10rem auto;

    h2 {
      margin-bottom: 4.6rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 1.88;
      color: #808080;
    }
  }

  &-boxes {
    max-width: 108rem;
    margin: 0 auto;
  }

  &-box {
    padding: 1.6rem;
    text-align: center;
    overflow: hidden;
  }

  &-box-img {
    height: 16.5rem;
  }

  &-box-text {
    font-size: 1.8rem;
    margin-top: 5rem;
  }

  &-box-title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &-box-description {
    line-height: 1.88;
    color: $grey;
  }
}

.subjects {
  height: 116.3rem;
  padding: 6rem 0;
  background-color: chartreuse;

  &-header {
    text-align: center;
    margin-bottom: 6rem;
  }

  &-boxes {
    max-width: 86rem;
    justify-content: center;
    margin: 0 auto;

    .subject-box {
      height: 28.6rem;
      padding: 1.5rem;
      background-clip: content-box;
      background-color: #fff;
    }
  }
}

.success-stories {
  height: 96.6rem;
  padding-top: 7rem;
  background-color: chocolate;

  &-header {
    text-align: center;
    margin-bottom: 6rem;
  }

  &-boxes {
    margin: 10rem 3.5rem 0;

    .success-story-box {
      height: 16.4rem;
      background-color: indigo;
      margin-bottom: 3.6rem;
    }
  }
}

.footer {
  height: 27.7rem;
  background-color: crimson;

  .fixed-dropdown-btn {
    width: 6.8rem;
    height: 6.8rem;
    border-radius: 50%;
    background-color: #6abfc3;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }
}

/* Media queries */

/* 1200px */
@media only screen and (max-width: 75em) {
  .main-header {
    h1 {
      max-width: 80%;
    }
  }
}

/* 767px */
@media only screen and (max-width: 47.9375em) {
  .nav {
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &-logo-container {
      height: 7rem;
    }

    &-items {
      display: none;
    }

    &-burger-menu {
      display: block;
    }
  }

  .main-header {
    margin: 10rem 0 6rem 0;
  }

  .how-it-works {
    &-header {
      max-width: 51rem;
    }

    &-box-img {
      height: 12rem;
    }

    &-box-description {
      padding: 0 6.5rem;
    }
  }
}

/* 576px */
@media only screen and (max-width: 36em) {
  .how-it-works {
    &-box-description {
      padding: 0 3.2rem;
    }

    &-box-img {
      height: 8rem;
    }
  }
}
